//  Colors
$advantages-odd: #EFEAE6;
$advantages-even: #FFFAF6;
$main-black-bg: #221E1A;

// Buttons
$orangeBtn: #E95A0C;


//  Fonts
$mainFontColor: #382F26;
$mainFontWhite: #ffffff;

//  Basic values
$margin-center: 0 auto;
